* {
    box-sizing: border-box;
  }

:root {
    --main-bg:rgb(32, 32, 61);
    --top-text: rgb(72, 72, 94);
    --text: gray;
  }

body {
    background-color: var(--main-bg);
    color: var(--top-text);
    font-family: helvetica;
    /* display: flex;
    justify-content: center; */
    flex-direction: column;
}

#top-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--top-text);
    text-align: center;
}
#top-text #title, #top-text h2{
    margin: 0px;
}
#room {
    position: relative;
    height: 500px;
    width: 750px;
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
}

.inventory-bar{
    height: 24px;
    border: 2px solid white;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: black;
}

.hover{
    border: 3px solid rgba(241, 208, 18, 0.2);
    position: absolute;
    background-size: contain;
}
#welcome-screen{
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    display: flex;
}
#welcome-message{
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    color: var(--text);
    border-radius: 10px;
}
#enterButton{
    color: var(--text);
    background-color: darkslateblue;
    border: 3px solid var(--text);
    border-radius: 10px;
    font-size: 2em;
}
.atrium-key, .living-room-key{
    position: absolute; 
    ;
    
}
/* .atrium-door, .living-room-door{
    position: absolute;
}
.exit-door, .key{
    position: absolute;
} */
.atrium-door{
    position: absolute;
    top: 20px;
    left: 120px;
    height: 50px;
    width: 50px;
    top: 310px;
    border-radius: 30px;
}
.atrium-key{
    position: absolute;
    bottom: 0px;
    right: 100px;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}
.living-room-key{
    position: absolute;
    bottom: 95px;
    right: 5px;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}
.living-room-door{
    position: absolute;
    top: 245px;
    right: 350px;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}
.inventory-bar{
    display: flex;
    align-items: center;
    width: 200px
}
#inventory-items{
    display: flex;
    list-style: none;
    color: white;
    gap: 15px
}
li{
    width: 25px;
}

.hide{
    display: none;
}
.win-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
  }
  .win-message {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

/* #message-box{
    border: 2px solid white;
    flex:1;
    text-align: center;
    margin-left: 20px;
}
#info{
    border: 2px solid white
} */
/* main{
    display: flex;
    flex-direction: row;
    gap: 25px;
} */

/* #room{
    height:100px;
    border: 2px solid white;
    display: flex;
    flex:4;
    flex-direction: row;
    justify-content: flex-end;
    height: 600px;
} */


/* #placeholder{
    flex:1;
} */
/* #inventory{
    border: 2px solid white;
    align-self: flex-end;
    width: 20%;
    background-color: rgb(15, 15, 34);
} */

/* .key{
    border: 2px solid white;
    align-self: flex-start;
    position: relative;
    top: 520px;
    left: 110px
    
} */
/* .door{
    align-self: baseline;
    left: 100px;
    border: 2px solid white;
} */
/* Create classes for each room */
.front-of-house{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/dda3ab08-e8d7-4309-9cff-f44697356233/d2cn0ei-e66c048b-4d96-424b-a156-ad5772a8234d.jpg/v1/fill/w_900,h_676,q_75,strp/haunted_house_background_4_by_indigodeep_d2cn0ei-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Njc2IiwicGF0aCI6IlwvZlwvZGRhM2FiMDgtZThkNy00MzA5LTljZmYtZjQ0Njk3MzU2MjMzXC9kMmNuMGVpLWU2NmMwNDhiLTRkOTYtNDI0Yi1hMTU2LWFkNTc3MmE4MjM0ZC5qcGciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.UO-_4ZC5p2kQZUyA0jK3uEu-ONj_I_eq02xqHjiBgtQ");
    background-position: center;
}

.atrium{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a90a9efb-b711-47bc-992b-a1f692155232/d3a7w2t-a7b51051-f5d5-40b8-81f8-6848d2b0ab86.png/v1/fill/w_800,h_640,strp/strange_hallway_with_doors_by_madetobeunique_d3a7w2t-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjQwIiwicGF0aCI6IlwvZlwvYTkwYTllZmItYjcxMS00N2JjLTk5MmItYTFmNjkyMTU1MjMyXC9kM2E3dzJ0LWE3YjUxMDUxLWY1ZDUtNDBiOC04MWY4LTY4NDhkMmIwYWI4Ni5wbmciLCJ3aWR0aCI6Ijw9ODAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.DcOnlD3BloKq2IrtGycY6VdA1gYPfXVFIT_24so3N1A");
    background-position: center;
}

.living-room{
    background-image:url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e2a83fa4-9d6c-4e5b-8970-440489a08563/d2sm45s-a3bc2587-003a-406f-afa8-609de1610729.jpg/v1/fill/w_900,h_507,q_75,strp/living_room_by_adamrichards_d2sm45s-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTA3IiwicGF0aCI6IlwvZlwvZTJhODNmYTQtOWQ2Yy00ZTViLTg5NzAtNDQwNDg5YTA4NTYzXC9kMnNtNDVzLWEzYmMyNTg3LTAwM2EtNDA2Zi1hZmE4LTYwOWRlMTYxMDcyOS5qcGciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.-eq0fhLxAI3hiTgCRUNs3mK-C9VkURbeTUYWG5btSAE");
    background-size: cover;
    
}
.study{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/19515d73-46c8-4fa0-9b8a-93f485fdd8ea/d1wvvij-4d25ed0c-3e70-4ccc-a866-3b56443e431c.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzE5NTE1ZDczLTQ2YzgtNGZhMC05YjhhLTkzZjQ4NWZkZDhlYVwvZDF3dnZpai00ZDI1ZWQwYy0zZTcwLTRjY2MtYTg2Ni0zYjU2NDQzZTQzMWMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.wRRrJz3kFuH8HDzwCZgjakEm4WWEa_F9LupdmmhonAc");
    background-size: cover;

}